<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<script src="/javascripts/add.js"></script>
<script src="/javascripts/indexedDB.js"></script>

<nav class="navbar navbar-expand-lg navbar-light justify-content-between bg-dark" style="font-weight: bold;">
  <div class="container">
    <h1 class="navbar-brand mb-0 h1" style=" color: white; ">Bird Sightings</h1>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="menu">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/" class="nav-link" style=" color: white; ">List</a>
        </li>
        <li class="nav-item">
          <a href="/recent" class="nav-link" style=" color: white; ">Recent</a>
        </li>
        <li class="nav-item">
          <a href="/nearby" class="nav-link" style=" color: white; ">Nearby</a>
        </li>
      </ul>
      <div class=" d-flex align-items-center">
        <button type="button" onclick="goAdd()" class="nav-link"
          style="border: none; color: antiquewhite; background-color: inherit; cursor: pointer;">
          Add a Sighting
        </button>
      </div>
    </div>
  </div>
</nav>



<script>
  function goAdd() {
    window.location.href = "http://localhost:3000/add_bird";
  }

  function showlist() {
    window.location.href = "http://localhost:3000/";
  }

  function shownearby() {}

  function addsighting() {}

  function updatesight() {}
</script>