<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <script
        src="http://maps.googleapis.com/maps/api/js">
    </script>

    <script>
    function initialize() {
    var mapProp = {
        center:new google.maps.LatLng(51.508742,-0.120850),
        zoom:5,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map=new google.maps.Map(document.getElementById("map"), mapProp);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
<%- include('../views/partials/header.ejs') %>

<div class="sub_body">
    <div class="div_left">
        <label for="bird_name">
            <input type="button" id="bird_name" class="name_label" value="{Bird Name}">
        </label>
        <img src="/images/cute_Bird.jpg" alt="bird image" style="height: 50vh;">
        <div class="chatroom">
            <div class="header">Chat Room: </div>
            <div id="chat">w</div>
        </div>
    </div>
    <div class="div_right">
        <div class="part"  style="margin-top: 5px;">
            <label class="title">Date/Time</label>
            <p>2023-02-14 19:33:32</p>
        </div>
        <div class="part">
            <label class="title">Location</label>
            <div id="map"></div>
        </div>
        <div class="part">
            <label class="title">Description</label>
            <div class="text_area">
                <p>{description}</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<%- include('../views/partials/footer.ejs') %>

<script>
    
</script>
</body>
</html>
