<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<body>
<%- include('../views/partials/header.ejs') %>

<div class="sub_body">
    <table class="bird_table">
        <tr>
            <th class="col1">Date/Time</th>
            <th class="col1">Identification</th>
            <th class="col2">User</th>
        </tr>
        <tr>
            <td>2023-02-14 19:33:32</td>
            <td>Unknown</td>
            <td>Bob</td>
        </tr>
    </table>
</div>

<%- include('../views/partials/footer.ejs') %>
</body>
</html>
