<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/welcome.css'/>
</head>
<body>
<div style="display: flex;">
    <div id="div_left">
        <div class="ctr">
            <p class="bird_info">Discover a new bird in the world</p>
            <a class="birdpage" href="/list">Start</a>
        </div>
    </div>
    <div id="div_right">
        <img class="wel_background" src="/images/cute_Bird.jpg" alt="bird">
    </div>
</div>
</body>
</html>
