#div_left{
    width: 25vw;
    height: 99vh;
    background-color: #2e3f58;
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
}

.ctr{
    display: block;
    padding: 10px 16px;
}

.bird_info{
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

.birdpage{
    padding: 15px 25px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #378156;
    text-decoration: none;
    position: relative;    
}


#div_right .wel_background{
    width: 73vw;
    height: 99vh;
    float: right;
}